body{
    margin: 0;
}

h2{
    color: #7a0800;
    text-decoration: underline;
}
.regular-div{
    border: 2px dotted #d81b1b;
    padding: 15px;
    color: green;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}
p{
    font-family: monospace;
    font-size: 15px;
}

.div-fifty-l{
    padding: 0px;
    float: left;
    width: 50%;
    border: 0;
    
}
.div-fifty-r{
    padding: 0px;
    float: right;
    width: 50%;
    border: 0;
    
}

.green-div{
    margin: 5px;
    color: #4caf50;
    padding: 15px;
    border: 2px dashed green;
}
.blue-div{
    margin: 5px;
    color: #507fc6;
    padding: 15px;
    border: 2px solid rgb(9, 59, 135);
}

.row{
    display: block;
    width: 100%;
}

#header{
    background: rgb(32, 97, 163);
    height: 40px;
    position: fixed;
    top: 0;
}

#dropdown-menu{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 90px;
    vertical-align: middle;
    color: white;
    background: rgb(21, 54, 89);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.dropdown-content{
    cursor: pointer;
    display: none;
    background: rgb(47, 117, 187);
    position: relative;
    min-width: 160px;
    z-index: 1;
    left: 0;
    font-weight: normal;
    font-size: medium;
}

#dropdown-menu li{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style-type: none;
}

#dropdown-menu ul{
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content{
    display: block;
}

#dropdown-menu li:hover{
    background: #26416a;
}

.right-content{
    text-align: right;
}

.center-content{
    text-align: center;
}

.dropdown-content.menu-rtl{
    float: right;
}

.dropdown-content a{
    color: white;
    text-decoration: none;
}

.content{
    margin-top: 48px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.img-frame {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid grey;
    display: inline-block;
    padding: 10px;
  }
  .my-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .my-img:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
 #popimg
 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
 }
 #fullimage
 {
    padding: 24px;
    max-width: 100%;
    max-height: 100%;
 }
 #closebutton
 {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 2rem;
    color: floralwhite;
    cursor: pointer;
 }
 .logout{
    position: absolute;
    right:30px;
    font-size:25px;
    top: 50%;
    transform: translateY(-50%);
 }
 #hello{
    position:absolute;
    left:570px;
    font-size:25px;
    top:50%;
    transform: translateY(-50%);
 }